@font-face {
  font-family: "iconfont"; /* Project id 3319078 */
  src: url('~@/static/iconfont/iconfont.ttf?t=1650011693019') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinzhi:before {
  content: "\e60a";
}

.icon-shangjiantou:before {
  content: "\e628";
}

.icon-xiajiantou:before {
  content: "\e627";
}

.icon-hot:before {
  content: "\e63e";
}

.icon-bofangqi:before {
  content: "\e6ab";
}

.icon-thumbup-fill:before {
  content: "\e63a";
}

.icon-thumbup:before {
  content: "\e644";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shoucang-fill:before {
  content: "\e8c6";
}

.icon-huancun:before {
  content: "\e856";
}

.icon-chahao:before {
  content: "\e663";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-danmushu:before {
  content: "\e665";
}

.icon-lishijilu:before {
  content: "\eb7b";
}

.icon-bofangliang:before {
  content: "\e602";
}

